<div class="bookers-content">
  <h1>Fichier client</h1>
  <section class="bookers-table">
      <header class="bookers-head">
            <div><p>Nom Prénom</p></div>
            <div><p>Téléphone</p></div>
            <div>
              <div class="no-border emails">
                <p>E-mail</p>
                <i class="fas fa-clipboard"></i>
              </div>
            </div>
      </header>
          <% @bookers.each_with_index do |booker, index| %>
            <div class="bookers-table-row <%= ' odd' if index.odd? %>">
              <div>
                <%= "#{booker.last_name.upcase} #{booker.first_name}" %>
              </div>
              <div>
                <%= booker.phone_number %>
              </div>
              <div>
                <%= booker.email %>
              </div>
            </div>
          <% end %>
  </section>
  <%= paginate @bookers %>
</div>
