<% if !params[:sub_category].nil? %>
  <% @product = Product.where(sub_category: unslug(params[:sub_category])).first %>
<% elsif !params[:category].nil? %>
  <% @product = Product.where(category: params[:category]).first %>
<% end %>

<ul class="list-inline tabs-links no-mobile">
  <li class="tab-link root-link">
    <%= link_to 'Tamaris', root_path %>
  </li>

  <li class="tab-link category-link">
    <% if body_class.include? 'products-search' %>
        Recherche
    <% elsif params[:category] == 'promotions' %>
        <%= link_to params[:category].capitalize, category_path(params[:category])  %>
    <% else %>
        <%= link_to @product.category.capitalize, category_path(@product.category)  %>
    <% end %>
  </li>

  <% unless (body_class == 'products products-index') || !params[:query].nil? %>
    <li class="tab-link subcategory-link">
      <%= link_to @product.sub_category.capitalize, sub_category_path(@product.category, slug(@product.sub_category)) %>
    </li>
  <% end %>

  <% if @paginated_products.nil? %>
    <li class="tab-link product-model">
      <%= "#{@product.model.capitalize}" %>
    </li>
  <% end %>

</ul>
