<ul class="list-inline tabs-links no-mobile">

  <li class="tab-link root-link">
    <%= link_to 'Tamaris', root_path %>
  </li>

  <li class="tab-link category-link">
    <% if body_class.include? 'products-search' %>
        Recherche
    <% elsif @product.nil? %>
        <%= link_to params[:category].capitalize, category_path(params[:category])  %>
    <% else %>
        <%= link_to @product.category.capitalize, category_path(@product.category)  %>
    <% end %>
  </li>

  <% if params[:sub_category].present? %>
    <li class="tab-link subcategory-link">
      <%= link_to params[:sub_category].capitalize, sub_category_path(params[:category], slug(params[:sub_category])) %>
    </li>
  <% end %>

  <% if @product.present? %>
    <li class="tab-link subcategory-link">
      <%= link_to @product.sub_category.capitalize, sub_category_path(@product.category, slug(@product.sub_category)) %>
    </li>
    <li class="tab-link product-model">
      <%= "#{@product.model.capitalize}" %>
    </li>
  <% end %>

</ul>
