<div class="bookings-content">
  <h1>Liste des réservations</h1>
  <section class="bookings-table">
      <header class="bookings-head">
            <div>Modèle</div>
            <div>Taille</div>
            <div>Nom du client</div>
            <div>Téléphone</div>
            <div>Actions</div>
      </header>
          <% @bookings.each do |booking| %>
            <div class="bookings-table-content">
              <div>
                <div class="model no-border">
                  <%= image_tag(resize(booking.product.photos_urls.first, 100, 200)) %>
                  <div class="no-border">
                    <p><%= booking.product.model %></p>
                    <p><%= booking.product.color %></p>
                    <p><%= booking.product.reference %></p>
                  </div>
                </div>
              </div>
              <div>
                <%= booking.variant.size %>
              </div>
              <div>
                <%= "#{booking.booker.last_name.upcase} #{booking.booker.first_name.capitalize}" %>
              </div>
              <div>
                <%= booking.booker.phone_number %>
              </div>
              <div>
                <div class="actions no-border">
                  <%= link_to(booking_confirm_path(booking)) do %>
                    <i class="fas fa-check-square"></i>
                    Confirmer
                  <% end %>
                  <%= link_to(booking_cancel_path(booking)) do %>
                    <i class="fas fa-window-close"></i>
                    Refuser
                  <% end %>
                  <%= link_to(booking_pick_up_path(booking)) do %>
                    <i class="far fa-money-bill-alt"></i>
                    Vendu
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
  </section>
</div>
