<h2>Réservation en cours: <%= @product.model %> (Taille: <%= @variant.size %>)</h2>

<%= simple_form_for @booker, url: product_bookings_path do |f| %>
  <%= f.input :last_name, label: 'Nom' %>
  <%= f.input :first_name, label: 'Prénom' %>
  <%= f.input :email, label: 'E-mail' %>
  <%= f.input :email_confirmation, label: 'Confirmation de l\'e-mail' %>
  <%= f.input :phone_number, label: 'Téléphone' %>
  <%= f.submit %>
<% end %>
