<% product = @product %>

<div class="booking-content new-booking-content flex-content">
  <div class="booking-product-side">
    <a href="<%= product_path(product.reference)%>", class="product-card" >
        <%= image_tag resize(product.photos_urls[0..1].sample, 500, 700) %>
        <div class="card-infos">
          <div class="flex-content">
            <p><%= product.model %></p>
            <p><%= "Taille: #{@variant.size}" unless @variant.nil? %></p>
          </div>
          <div class="prices">
            <% if product.former_price > 0 %>
              <h3 class="new-price"><%= product.french_price %> €</h3>
              <h3 class="standard-price"><%= product.french_former_price %> €</h3>
            <% else %>
              <h3 class="sale-price"><%= product.french_price %> €</h3>
            <% end %>
          </div>
        </div>
      </a>
  </div>


  <div class="booking-form-side">
    <div class="booking-form">
      <h1>Réserver ce modèle</h1>
    </div>
    <%= simple_form_for @booking, url: product_bookings_path, method: 'post' do |f| %>
        <%= f.simple_fields_for :booker, @booker do |f|  %>
        <%= f.input :last_name, placeholder: 'Nom', label: false %>
        <%= f.input :first_name, placeholder: 'Prénom', label: false %>
        <%= f.input :email, as: :email, placeholder: 'E-mail', label: false %>
        <%= f.input :email_confirmation, placeholder: 'Confirmation de l\'e-mail', label: false %>
        <%= f.input :phone_number, placeholder: 'Téléphone', label: false %>
      <% end %>
      <%= f.button :submit, "Réserver maintenant", class: 'button booking-btn' %>
    <% end %>
  </div>
</div>
