<% if @product.photos_urls.count == 1 %>
  <% product_photo = resize(@product.photos_urls.first, 1100, 1200) %>
<% elsif @product.photos_urls.empty? %>
  <% product_photo = image_path('trying-shoes.jpg') %>
<% else %>
  <% product_photo = resize(@product.photos_urls.second, 1100, 1200) %>
<% end %>

<a href="<%= sub_category_path(@product.category, @product.sub_category) %>"
  class="home-page-banner" style="background-image: url(<%= product_photo %>)">
  <div class="banner-content">
    <h1 class="category-banner"><%= @product.sub_category %></h1>
    <div class="button banner-btn">Acheter maintenant</div>
  </div>
</a>

<div class="only-mobile">
  <%= render 'shared/special_offer_banner' %>
</div>

<h2 class='handwritten-title'>C'est de saison...</h2>
<ul class='products-grid'>
  <% sub_categories_by_weight('chaussures').first(4).each do |sub_category| %>
    <li class='product-card-wrapper'>
      <%= link_to sub_category_path('chaussures', sub_category), class: 'product-card' do %>
        <div class="product-image">
          <% product = Product.where(sub_category: sub_category).where.not(color: 'black').first %>
          <%= image_tag resize(product.photos_urls.first, 450, 600), alt: full_model(product), class: 'first-picture' %>
        </div>

        <div class="card-infos">
          <%= sub_category.capitalize %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<h2 class='handwritten-title'>Les revoilà!</h2>
<ul class='products-grid back-in-stock'>
  <% Product.where.not(photos_urls: []).order(updated_at: :asc).last(8).each do |product| %>
    <%= render partial: 'products/partials/product_card', locals: { product: product } %>
  <% end %>
</ul>
