<ul class="products-grid">
  <% @products.each do |product| %>
    <li class="product-card-wrapper">
      <a href="<%= product_path(product.reference)%>", class="product-card" >
        <div class="product-image" style="background-image: url(<%= resize(product.photos_urls[1], 440, 500) %>">
          <%= image_tag resize(product.photos_urls.first, 440, 500), class: 'first-picture' %>
          <% if product.variants.count > 1 %>
            <div class="quick-booking">
              <p>Réserver en magasin</p>
              <ul class="all-sizes product-card-sizes">
                <% product.variants.order(:size).each do |variant| %>
                  <%= link_to(new_product_booking_path(product.reference, variant.size),
                  class: "variant-box little-variant-box#{' unavailable' if variant.stock <= 0}") do %>
                    <li class="size<%= " unavailable" if variant.stock <= 0 %>">
                      <%= variant.size %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        <div class="card-infos">
          <p><%= product.model %> - <%= product.color %></p>
          <div class="prices">
            <% if product.former_price > 0 %>
              <h3 class="new-price"><%= product.french_price %> €</h3>
              <h3 class="standard-price"><%= product.french_former_price %> €</h3>
            <% else %>
              <h3 class="sale-price"><%= product.french_price %> €</h3>
            <% end %>
          </div>
        </div>
      </a>
    </li>
  <% end %>
</ul>
