<div class="products-container">

  <%= render 'shared/tabs' %>

  <div class="index-category">
    <% if body_class.include? 'products-search' %>
      <h1>Résultats</h1>
    <% else %>
      <h1><%= @products.first.category %></h1>
    <% end %>
    <p class="products-count">
      <%= pluralize(@all_products.count, 'produit') %>
    </p>
  </div>

  <div class="pagination-wrapper">
    <%= link_to_prev_page @products, 'produits précédents', class: 'button pagination-link' %>
  </div>

  <%= render 'products_grid' %>

  <div class="pagination-wrapper">
    <%= link_to_next_page @products, 'produits suivants', class: 'button pagination-link' %>
  </div>

</div>
