<%= render 'products/partials/tabs' %>

<div class="product-show-content">

  <%= render 'products/partials/slider' %>

  <div class="product-side-content">
    <h1 class="product-model"><%= @product.model %></h1>
    <div class="prices-wrapper">
      <div class="prices sale-prices">
        <% if @product.former_price != 0 %>
          <h2 class="price new-price"><%= @product.french_format(@product.price) %> €</h2>
          <h2 class="price standard-price"><%= @product.french_format(@product.former_price) %> €</h2>
        <% else %>
          <h2 class="price sale-price"><%= @product.french_format(@product.price) %> €</h2>
        <% end %>
      </div>
      <p>T.T.C., retrait en magasin</p>
    </div>

    <div class="colors-content">
      <p class="color-choice"><%= @product.color %></p>
      <div class="other-colors">
        <% @other_colors.each do |product| %>
          <%= link_to(product_path(product.reference), class: "variant-box #{product.color.split('/').join(' ')}") do %>
            <div class="underline <%= "is-selected" if product.color == @product.color %>"></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if @product.variants.count > 1 %>
      <div class="sizes-content">
        <ul class="all-sizes">
          <% @product.variants.order(:size).each do |variant| %>
            <%= link_to(product_size_path(@product.reference, variant.size),
            class: "variant-box #{"is-selected" if @variant.present? && variant.size == @variant.size}
              #{' unavailable' if variant.stock <= 0}") do %>
              <li class="size<%= " unavailable" if variant.stock <= 0 %>">
                <%= variant.size %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <% if @variant.present? && @variant.stock < 10 && @variant.stock > 0 %>
          <p class="last-stocks">
            Plus que <%= pluralize(@variant.stock, "exemplaire") %> en stock
          </p>
        <% end %>
      </div>
    <% end %>

    <% if @product.category == 'chaussures' %>
      <span class='show-size-modal'>Quelle taille est faite pour vous?</span>
    <% end %>

    <% if @product.variants.count == 1 && @product.variants[0].size > 0 %>
      <%= link_to 'Réserver en boutique', new_product_booking_path(@product.reference, @product.variants[0].size), class: 'button booking-btn' %>
    <% elsif @variant.present? %>
      <%= link_to "Réserver en boutique", new_product_booking_path(@product.reference, @variant.size), class: "button booking-btn" %>
    <% else %>
      <div class="button booking-btn no-size-selected no-mobile">Réserver en boutique</div>
    <% end %>

  </div>
</div>

<div class="product-show-description">
  <h5>Informations sur le produit</h5>
  <ul class="product-features">
    <li class="feature">
      <p class="feature-name">
        Numéro d'article:
      </p>
      <p class="feature-value">
        <%= @product.reference %>
      </p>
    </li>
    <% @product.product_feature.features_hash.each do |feature, value| %>
      <li class="feature">
        <p class="feature-name">
          <%= feature %>:
        </p>
        <p class="feature-value">
          <%= value %>
        </p>
      </li>
    <% end %>
  </ul>
  <p class="long-description">
    <%= @product.product_feature.description %>
  </p>
</div>

<%= render 'products/partials/sizes_modal' %>
