<%= @product.model %>
<%= @product.reference %>

<% @product.photos_urls.each do |photo| %>
  <%= image_tag photo, width: '200' %>
<% end %>

<ul>
  <% @product.variants.each do |variant| %>
    <li>
      <%= link_to variant.size, new_product_booking_path(@product.reference, variant.id) %> (<%= variant.stock %> en stock)
    </li>
  <% end %>
</ul>

